*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --all-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd' viewBox='0 0 512 511.97'%3E%3Cpath fill-rule='nonzero' d='M23.77 0h185.92c13.09 0 23.77 10.69 23.77 23.77v185.92c0 13.02-10.75 23.77-23.77 23.77H23.77C10.72 233.46 0 222.74 0 209.69V23.77C0 10.65 10.65 0 23.77 0zM302.3 278.5h185.93c13.02 0 23.77 10.75 23.77 23.77V488.2c0 13-10.78 23.77-23.77 23.77H302.3c-6.5 0-12.45-2.69-16.75-6.97-4.33-4.37-7.02-10.31-7.02-16.8V302.27c0-13.12 10.65-23.77 23.77-23.77zm181.91 27.78h-177.9v177.9h177.9v-177.9zM302.3 0h185.93C501.25 0 512 10.75 512 23.77v185.92c0 13.02-10.75 23.77-23.77 23.77H302.3c-13.05 0-23.77-10.72-23.77-23.77V23.77C278.53 10.65 289.18 0 302.3 0zm181.91 27.79h-177.9v177.88h177.9V27.79zM23.77 278.5h185.92c13.09 0 23.77 10.68 23.77 23.77V488.2c0 13.01-10.75 23.77-23.77 23.77H23.77C10.75 511.97 0 501.21 0 488.2V302.27c0-13.12 10.65-23.77 23.77-23.77zm181.9 27.78H27.79v177.9h177.88v-177.9zm0-278.49H27.79v177.88h177.88V27.79z' fill='%235e6569'/%3E%3C/svg%3E");
    --all-image-hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd' viewBox='0 0 512 511.97'%3E%3Cpath fill-rule='nonzero' d='M23.77 0h185.92c13.09 0 23.77 10.69 23.77 23.77v185.92c0 13.02-10.75 23.77-23.77 23.77H23.77C10.72 233.46 0 222.74 0 209.69V23.77C0 10.65 10.65 0 23.77 0zM302.3 278.5h185.93c13.02 0 23.77 10.75 23.77 23.77V488.2c0 13-10.78 23.77-23.77 23.77H302.3c-6.5 0-12.45-2.69-16.75-6.97-4.33-4.37-7.02-10.31-7.02-16.8V302.27c0-13.12 10.65-23.77 23.77-23.77zm181.91 27.78h-177.9v177.9h177.9v-177.9zM302.3 0h185.93C501.25 0 512 10.75 512 23.77v185.92c0 13.02-10.75 23.77-23.77 23.77H302.3c-13.05 0-23.77-10.72-23.77-23.77V23.77C278.53 10.65 289.18 0 302.3 0zm181.91 27.79h-177.9v177.88h177.9V27.79zM23.77 278.5h185.92c13.09 0 23.77 10.68 23.77 23.77V488.2c0 13.01-10.75 23.77-23.77 23.77H23.77C10.75 511.97 0 501.21 0 488.2V302.27c0-13.12 10.65-23.77 23.77-23.77zm181.9 27.78H27.79v177.9h177.88v-177.9zm0-278.49H27.79v177.88h177.88V27.79z' fill='%23000000'/%3E%3C/svg%3E");
    --food-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 122.88 73.91' style='enable-background:new 0 0 122.88 73.91' xml:space='preserve'%3E%3Cstyle type='text/css'%3E%3C!%5BCDATA%5B .st0%7Bfill-rule:evenodd;clip-rule:evenodd;%7D%0A%5D%5D%3E%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M97.31,36.95c0,9.92-3.49,18.39-10.48,25.38c-7,7-15.46,10.5-25.38,10.5c-9.88,0-18.34-3.49-25.35-10.5 c-7-6.99-10.52-15.46-10.52-25.38c0-9.89,3.51-18.32,10.52-25.34c7.03-7,15.48-10.52,25.35-10.52c9.92,0,18.38,3.51,25.38,10.52 C93.81,18.63,97.31,27.06,97.31,36.95L97.31,36.95L97.31,36.95L97.31,36.95z M16.37,30.34c3.15-2.15,4.73-4.96,4.46-11.39V2.42 c-0.03-2.31-4.22-2.59-4.43,0l-0.16,13.41c-0.01,2.51-3.78,2.59-3.77,0l0.16-13.87c-0.05-2.48-4.05-2.73-4.1,0 c0,3.85-0.16,10.02-0.16,13.87c0.2,2.43-3.3,2.75-3.21,0L5.32,2.05C5.23,0.18,3.17-0.49,1.77,0.39C0.28,1.34,0.58,3.25,0.52,4.86 L0,20.68c0.08,4.6,1.29,8.34,4.89,9.93c0.55,0.24,1.31,0.43,2.19,0.56L5.84,69.75c-0.07,2.29,1.8,4.16,3.99,4.16h0.5 c2.47,0,4.56-2.11,4.49-4.68l-1.09-38.07C14.88,30.98,15.83,30.71,16.37,30.34L16.37,30.34z M106.74,68.59l-0.06-34.65 c-12.15-7.02-8.28-34.07,3.88-33.92c14.78,0.17,16.53,30.48,3.82,33.81l0.94,34.9C115.5,75.33,106.75,75.94,106.74,68.59 L106.74,68.59z M82.33,36.92c0,5.78-2.03,10.71-6.12,14.8c-4.08,4.07-9.01,6.12-14.79,6.12c-5.74,0-10.67-2.05-14.75-6.12 c-4.08-4.09-6.12-9.02-6.12-14.8c0-5.74,2.04-10.67,6.12-14.74c4.09-4.07,9.01-6.12,14.75-6.12C73.03,16.07,82.33,25.3,82.33,36.92 L82.33,36.92L82.33,36.92z M87.22,36.92c0-7.1-2.5-13.17-7.53-18.2s-11.12-7.53-18.27-7.53c-7.13,0-13.2,2.5-18.2,7.53 c-5.03,5.03-7.56,11.1-7.56,18.2c0,7.12,2.53,13.19,7.56,18.24c5,5.04,11.07,7.57,18.2,7.57c7.14,0,13.23-2.53,18.27-7.57 C84.71,50.1,87.22,44.03,87.22,36.92L87.22,36.92L87.22,36.92L87.22,36.92z' fill='%235e6569' /%3E%3C/g%3E%3C/svg%3E");
    --food-image-hover: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 122.88 73.91' style='enable-background:new 0 0 122.88 73.91' xml:space='preserve'%3E%3Cstyle type='text/css'%3E%3C!%5BCDATA%5B .st0%7Bfill-rule:evenodd;clip-rule:evenodd;%7D%0A%5D%5D%3E%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M97.31,36.95c0,9.92-3.49,18.39-10.48,25.38c-7,7-15.46,10.5-25.38,10.5c-9.88,0-18.34-3.49-25.35-10.5 c-7-6.99-10.52-15.46-10.52-25.38c0-9.89,3.51-18.32,10.52-25.34c7.03-7,15.48-10.52,25.35-10.52c9.92,0,18.38,3.51,25.38,10.52 C93.81,18.63,97.31,27.06,97.31,36.95L97.31,36.95L97.31,36.95L97.31,36.95z M16.37,30.34c3.15-2.15,4.73-4.96,4.46-11.39V2.42 c-0.03-2.31-4.22-2.59-4.43,0l-0.16,13.41c-0.01,2.51-3.78,2.59-3.77,0l0.16-13.87c-0.05-2.48-4.05-2.73-4.1,0 c0,3.85-0.16,10.02-0.16,13.87c0.2,2.43-3.3,2.75-3.21,0L5.32,2.05C5.23,0.18,3.17-0.49,1.77,0.39C0.28,1.34,0.58,3.25,0.52,4.86 L0,20.68c0.08,4.6,1.29,8.34,4.89,9.93c0.55,0.24,1.31,0.43,2.19,0.56L5.84,69.75c-0.07,2.29,1.8,4.16,3.99,4.16h0.5 c2.47,0,4.56-2.11,4.49-4.68l-1.09-38.07C14.88,30.98,15.83,30.71,16.37,30.34L16.37,30.34z M106.74,68.59l-0.06-34.65 c-12.15-7.02-8.28-34.07,3.88-33.92c14.78,0.17,16.53,30.48,3.82,33.81l0.94,34.9C115.5,75.33,106.75,75.94,106.74,68.59 L106.74,68.59z M82.33,36.92c0,5.78-2.03,10.71-6.12,14.8c-4.08,4.07-9.01,6.12-14.79,6.12c-5.74,0-10.67-2.05-14.75-6.12 c-4.08-4.09-6.12-9.02-6.12-14.8c0-5.74,2.04-10.67,6.12-14.74c4.09-4.07,9.01-6.12,14.75-6.12C73.03,16.07,82.33,25.3,82.33,36.92 L82.33,36.92L82.33,36.92z M87.22,36.92c0-7.1-2.5-13.17-7.53-18.2s-11.12-7.53-18.27-7.53c-7.13,0-13.2,2.5-18.2,7.53 c-5.03,5.03-7.56,11.1-7.56,18.2c0,7.12,2.53,13.19,7.56,18.24c5,5.04,11.07,7.57,18.2,7.57c7.14,0,13.23-2.53,18.27-7.57 C84.71,50.1,87.22,44.03,87.22,36.92L87.22,36.92L87.22,36.92L87.22,36.92z' fill='%23000000' /%3E%3C/g%3E%3C/svg%3E");
    --clothes-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122.88 101.27'%3E%3Ctitle%3Ehanger%3C/title%3E%3Cpath d='M61.91,46,10.1,87.4l-.25.18a7,7,0,0,0-2.69,3.2,1.9,1.9,0,0,0,.77,2.43,7.3,7.3,0,0,0,4.25,1h98.16l.32,0a8.82,8.82,0,0,0,4.16-.84,2.07,2.07,0,0,0,1-1,2.31,2.31,0,0,0,0-1.46,9.15,9.15,0,0,0-2.63-3.81c-.34-.32-.66-.61-1-.88s-.74-.58-1.13-.87l-.15-.11L61.91,46ZM5.75,81.9,58.43,39.83v-7a3.52,3.52,0,0,1,3.23-3.5c6.36-.81,9.78-4,10.91-7.66a11.31,11.31,0,0,0,.29-5A12.27,12.27,0,0,0,71,11.86,10.87,10.87,0,0,0,59.4,7.28a10,10,0,0,0-5.79,3.63,15.17,15.17,0,0,0-3.12,7.78,3.5,3.5,0,0,1-6.94-.88A22.15,22.15,0,0,1,48.18,6.49,16.94,16.94,0,0,1,58.06.4,17.63,17.63,0,0,1,76.78,8a19.27,19.27,0,0,1,3,7.59,18,18,0,0,1-.51,8.18C77.59,29.22,73.2,34,65.46,35.8v4.08l49.75,40c.48.34.92.69,1.34,1s1,.83,1.37,1.2A16.27,16.27,0,0,1,122.45,89a9.13,9.13,0,0,1-.15,6,8.92,8.92,0,0,1-4.08,4.53,15.68,15.68,0,0,1-7.58,1.71l-.3,0H12.18a14.11,14.11,0,0,1-8.34-2.38A9,9,0,0,1,.41,94.26a9.15,9.15,0,0,1,.11-5.73A13.91,13.91,0,0,1,5.75,81.9Z' fill='%235e6569'/%3E%3C/svg%3E");
    --clothes-image-hover: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122.88 101.27'%3E%3Ctitle%3Ehanger%3C/title%3E%3Cpath d='M61.91,46,10.1,87.4l-.25.18a7,7,0,0,0-2.69,3.2,1.9,1.9,0,0,0,.77,2.43,7.3,7.3,0,0,0,4.25,1h98.16l.32,0a8.82,8.82,0,0,0,4.16-.84,2.07,2.07,0,0,0,1-1,2.31,2.31,0,0,0,0-1.46,9.15,9.15,0,0,0-2.63-3.81c-.34-.32-.66-.61-1-.88s-.74-.58-1.13-.87l-.15-.11L61.91,46ZM5.75,81.9,58.43,39.83v-7a3.52,3.52,0,0,1,3.23-3.5c6.36-.81,9.78-4,10.91-7.66a11.31,11.31,0,0,0,.29-5A12.27,12.27,0,0,0,71,11.86,10.87,10.87,0,0,0,59.4,7.28a10,10,0,0,0-5.79,3.63,15.17,15.17,0,0,0-3.12,7.78,3.5,3.5,0,0,1-6.94-.88A22.15,22.15,0,0,1,48.18,6.49,16.94,16.94,0,0,1,58.06.4,17.63,17.63,0,0,1,76.78,8a19.27,19.27,0,0,1,3,7.59,18,18,0,0,1-.51,8.18C77.59,29.22,73.2,34,65.46,35.8v4.08l49.75,40c.48.34.92.69,1.34,1s1,.83,1.37,1.2A16.27,16.27,0,0,1,122.45,89a9.13,9.13,0,0,1-.15,6,8.92,8.92,0,0,1-4.08,4.53,15.68,15.68,0,0,1-7.58,1.71l-.3,0H12.18a14.11,14.11,0,0,1-8.34-2.38A9,9,0,0,1,.41,94.26a9.15,9.15,0,0,1,.11-5.73A13.91,13.91,0,0,1,5.75,81.9Z' fill='%23000000'/%3E%3C/svg%3E");
    --autoParts-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd' viewBox='0 0 512 509.77'%3E%3Cpath d='M244.48 209.89c1.8 18.05-22.84 51.63-33.52 62.51-21.3 21.66-40.94 45.37-73.68 69.79-23.43 17.47-29.49 19.61-57.67 19.22l-1.02-.05c-10.72 0-21.43 2.45-31.23 7.36l-14.85-14.85c-1.98-1.98-5.21-1.98-7.18 0L1.48 377.7c-1.97 1.99-1.97 5.22 0 7.2l14.79 14.78a69.844 69.844 0 0 0-7.46 30.47l-.04 1.04c0 17.86 6.81 35.74 20.44 49.36 13.58 13.58 31.43 20.39 49.35 20.42h.06c10.81 0 21.61-2.5 31.47-7.47l14.78 14.79c1.98 1.97 5.21 1.97 7.19 0l23.84-23.85c1.98-1.97 1.98-5.19 0-7.18l-14.85-14.85c4.91-9.8 7.36-20.51 7.36-31.23 0-29.62 1.48-35.84 20.2-60.62 24.44-32.39 47.49-50.85 68.75-71.76 10.86-10.68 44.46-33.54 62.5-33.53l-55.38-55.38zM355.29.95c70.35 38.85 119.62 87.62 155.76 155.77 1.01 1.87 1.5 3.96 0 5.46l-17.61 17.61L332.22 18.56 349.83.95c1.5-1.5 3.61-1.01 5.46 0zm11.67 144.1c12.77 12.78 12.77 33.49-.01 46.27-12.77 12.77-33.48 12.78-46.26 0-12.78-12.78-12.78-33.5 0-46.27 12.78-12.78 33.49-12.78 46.27 0zm114.96 46.27-10.68 10.67L310.01 40.77l10.68-10.68 161.23 161.23zm-22.21 22.2L357.59 315.65c-1.47 1.46-3.98 1.46-5.46-.01l-24.44-24.45 5.73-5.74c13.43-13.43.19-17.84-13.19-31.23l-62.43-62.43c-13.39-13.38-17.86-26.58-31.24-13.2l-5.74 5.74-24.46-24.45c-1.47-1.48-1.5-3.96 0-5.46L298.48 52.29l161.23 161.23zm-354.15 217.6c0 14.68-11.9 26.59-26.59 26.59-14.68 0-26.58-11.91-26.58-26.59 0-14.69 11.9-26.59 26.58-26.59 14.69 0 26.59 11.9 26.59 26.59z' fill='%235e6569' /%3E%3C/svg%3E");
    --autoParts-image-hover: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd' viewBox='0 0 512 509.77'%3E%3Cpath d='M244.48 209.89c1.8 18.05-22.84 51.63-33.52 62.51-21.3 21.66-40.94 45.37-73.68 69.79-23.43 17.47-29.49 19.61-57.67 19.22l-1.02-.05c-10.72 0-21.43 2.45-31.23 7.36l-14.85-14.85c-1.98-1.98-5.21-1.98-7.18 0L1.48 377.7c-1.97 1.99-1.97 5.22 0 7.2l14.79 14.78a69.844 69.844 0 0 0-7.46 30.47l-.04 1.04c0 17.86 6.81 35.74 20.44 49.36 13.58 13.58 31.43 20.39 49.35 20.42h.06c10.81 0 21.61-2.5 31.47-7.47l14.78 14.79c1.98 1.97 5.21 1.97 7.19 0l23.84-23.85c1.98-1.97 1.98-5.19 0-7.18l-14.85-14.85c4.91-9.8 7.36-20.51 7.36-31.23 0-29.62 1.48-35.84 20.2-60.62 24.44-32.39 47.49-50.85 68.75-71.76 10.86-10.68 44.46-33.54 62.5-33.53l-55.38-55.38zM355.29.95c70.35 38.85 119.62 87.62 155.76 155.77 1.01 1.87 1.5 3.96 0 5.46l-17.61 17.61L332.22 18.56 349.83.95c1.5-1.5 3.61-1.01 5.46 0zm11.67 144.1c12.77 12.78 12.77 33.49-.01 46.27-12.77 12.77-33.48 12.78-46.26 0-12.78-12.78-12.78-33.5 0-46.27 12.78-12.78 33.49-12.78 46.27 0zm114.96 46.27-10.68 10.67L310.01 40.77l10.68-10.68 161.23 161.23zm-22.21 22.2L357.59 315.65c-1.47 1.46-3.98 1.46-5.46-.01l-24.44-24.45 5.73-5.74c13.43-13.43.19-17.84-13.19-31.23l-62.43-62.43c-13.39-13.38-17.86-26.58-31.24-13.2l-5.74 5.74-24.46-24.45c-1.47-1.48-1.5-3.96 0-5.46L298.48 52.29l161.23 161.23zm-354.15 217.6c0 14.68-11.9 26.59-26.59 26.59-14.68 0-26.58-11.91-26.58-26.59 0-14.69 11.9-26.59 26.58-26.59 14.69 0 26.59 11.9 26.59 26.59z' fill='%23000000' /%3E%3C/svg%3E");
    --drink-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 110.03 122.88'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Ebeer-mug%3C/title%3E%3Cpath class='cls-1' d='M28.89,4.45A17.42,17.42,0,0,1,36.46.67a19.64,19.64,0,0,1,8.15-.1,17.41,17.41,0,0,1,6.17,2.52A17.38,17.38,0,0,1,56.28.6,18.75,18.75,0,0,1,63.84.22,20.52,20.52,0,0,1,71,2.77a21.48,21.48,0,0,1,7.87,8,14.91,14.91,0,0,1,9,2.92,16,16,0,0,1,4.34,4.76,14.94,14.94,0,0,1,2.06,6.45c.41,5-1.65,10.45-7.68,14.84V50.44l5-.44C101.71,49.11,110,58.29,110,68.41V90.05c0,9.93-8.16,18.91-18,18l-5.36-.46V113a9.93,9.93,0,0,1-2.92,7h0a9.92,9.92,0,0,1-7,2.92H18.24A10,10,0,0,1,8.31,113c0-7.69.1-62,.13-73.69C1.49,33.57-.68,27,.18,21.08A17.13,17.13,0,0,1,4.56,12a18.88,18.88,0,0,1,8.38-5.26,19.15,19.15,0,0,1,13.26.73,15.69,15.69,0,0,1,2.69-3ZM86.62,62.18V96.3h7a4.22,4.22,0,0,0,4.19-4.19V66.78a4.62,4.62,0,0,0-4.61-4.6ZM61.06,67.29a4.1,4.1,0,0,1,8.14,0V96.64a4.1,4.1,0,0,1-8.14,0V67.29Zm-35.32,0a3.85,3.85,0,0,1,4.06-3.58,3.85,3.85,0,0,1,4.07,3.58V96.64a3.85,3.85,0,0,1-4.07,3.58,3.85,3.85,0,0,1-4.06-3.58V67.29ZM43.4,64.53a4.1,4.1,0,0,1,8.13,0V99.39a4.1,4.1,0,0,1-8.13,0V64.53ZM79.49,41.92l-1.68.1c-1.38,0-2.79,0-4.23,0l0,.36A13.75,13.75,0,0,1,63.17,56a15.62,15.62,0,0,1-7.83,0A14.39,14.39,0,0,1,47,50.18a17.47,17.47,0,0,1-2.29-5.66C44.35,43.26,44,42,40.94,42H15.43v71a2.83,2.83,0,0,0,2.81,2.81H76.7a2.79,2.79,0,0,0,2-.82h0a2.79,2.79,0,0,0,.82-2v-71ZM14.06,35.87C-5.81,22,16.13,2.22,29.72,17.48,28.63,4.77,46.69,2.76,50.66,12,56.51,1.93,72,5.28,75.25,17.88c8.81-4.95,20.4,9,6.68,17.65a49.47,49.47,0,0,1-8.68.43c-4.54-.08-5.68,2.24-5.73,6.38C67.41,51.45,56,52.72,52,46.77c-2.67-4-.35-10.9-11.09-10.9Z' fill='%235e6569' /%3E%3C/svg%3E");
    --drink-image-hover: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 110.03 122.88'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Ebeer-mug%3C/title%3E%3Cpath class='cls-1' d='M28.89,4.45A17.42,17.42,0,0,1,36.46.67a19.64,19.64,0,0,1,8.15-.1,17.41,17.41,0,0,1,6.17,2.52A17.38,17.38,0,0,1,56.28.6,18.75,18.75,0,0,1,63.84.22,20.52,20.52,0,0,1,71,2.77a21.48,21.48,0,0,1,7.87,8,14.91,14.91,0,0,1,9,2.92,16,16,0,0,1,4.34,4.76,14.94,14.94,0,0,1,2.06,6.45c.41,5-1.65,10.45-7.68,14.84V50.44l5-.44C101.71,49.11,110,58.29,110,68.41V90.05c0,9.93-8.16,18.91-18,18l-5.36-.46V113a9.93,9.93,0,0,1-2.92,7h0a9.92,9.92,0,0,1-7,2.92H18.24A10,10,0,0,1,8.31,113c0-7.69.1-62,.13-73.69C1.49,33.57-.68,27,.18,21.08A17.13,17.13,0,0,1,4.56,12a18.88,18.88,0,0,1,8.38-5.26,19.15,19.15,0,0,1,13.26.73,15.69,15.69,0,0,1,2.69-3ZM86.62,62.18V96.3h7a4.22,4.22,0,0,0,4.19-4.19V66.78a4.62,4.62,0,0,0-4.61-4.6ZM61.06,67.29a4.1,4.1,0,0,1,8.14,0V96.64a4.1,4.1,0,0,1-8.14,0V67.29Zm-35.32,0a3.85,3.85,0,0,1,4.06-3.58,3.85,3.85,0,0,1,4.07,3.58V96.64a3.85,3.85,0,0,1-4.07,3.58,3.85,3.85,0,0,1-4.06-3.58V67.29ZM43.4,64.53a4.1,4.1,0,0,1,8.13,0V99.39a4.1,4.1,0,0,1-8.13,0V64.53ZM79.49,41.92l-1.68.1c-1.38,0-2.79,0-4.23,0l0,.36A13.75,13.75,0,0,1,63.17,56a15.62,15.62,0,0,1-7.83,0A14.39,14.39,0,0,1,47,50.18a17.47,17.47,0,0,1-2.29-5.66C44.35,43.26,44,42,40.94,42H15.43v71a2.83,2.83,0,0,0,2.81,2.81H76.7a2.79,2.79,0,0,0,2-.82h0a2.79,2.79,0,0,0,.82-2v-71ZM14.06,35.87C-5.81,22,16.13,2.22,29.72,17.48,28.63,4.77,46.69,2.76,50.66,12,56.51,1.93,72,5.28,75.25,17.88c8.81-4.95,20.4,9,6.68,17.65a49.47,49.47,0,0,1-8.68.43c-4.54-.08-5.68,2.24-5.73,6.38C67.41,51.45,56,52.72,52,46.77c-2.67-4-.35-10.9-11.09-10.9Z' fill='%23000000' /%3E%3C/svg%3E");
    --supermarket-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122.88 107.54'%3E%3Ctitle%3Etrolley%3C/title%3E%3Cpath d='M3.93,7.86A3.93,3.93,0,0,1,3.93,0H14.15l.39,0A18.28,18.28,0,0,1,24.1,2.49a14.69,14.69,0,0,1,6.41,9.1c.32,1.41.66,2.82,1,4.23H119a3.92,3.92,0,0,1,3.93,3.92,4,4,0,0,1-.19,1.22L112.52,62.08a3.92,3.92,0,0,1-3.8,3H44.66c1.44,5.21,2.76,8,4.7,9.34,2.27,1.52,6.31,1.63,13,1.52h.07v0h45.17a3.93,3.93,0,1,1,0,7.86H62.46v0c-8.27.15-13.38-.09-17.46-2.84s-6.36-7.55-8.57-16.3l-13.51-51a7.19,7.19,0,0,0-3-4.49,10.8,10.8,0,0,0-5.51-1.3H3.93ZM96,88.34a9.6,9.6,0,1,1-9.6,9.6,9.6,9.6,0,0,1,9.6-9.6Zm-42.1,0a9.6,9.6,0,1,1-9.6,9.6,9.6,9.6,0,0,1,9.6-9.6ZM78,23.67V38h32.45l3.53-14.28Zm0,22.14V57.22h27.69l2.82-11.41ZM70.11,57.22V45.81H39.63q1.57,5.7,3,11.41Zm0-19.27V23.67H33.54c1.26,4.76,2.58,9.52,3.91,14.28Z' fill='%235e6569' /%3E%3C/svg%3E");
    --supermarket-image-hover: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122.88 107.54'%3E%3Ctitle%3Etrolley%3C/title%3E%3Cpath d='M3.93,7.86A3.93,3.93,0,0,1,3.93,0H14.15l.39,0A18.28,18.28,0,0,1,24.1,2.49a14.69,14.69,0,0,1,6.41,9.1c.32,1.41.66,2.82,1,4.23H119a3.92,3.92,0,0,1,3.93,3.92,4,4,0,0,1-.19,1.22L112.52,62.08a3.92,3.92,0,0,1-3.8,3H44.66c1.44,5.21,2.76,8,4.7,9.34,2.27,1.52,6.31,1.63,13,1.52h.07v0h45.17a3.93,3.93,0,1,1,0,7.86H62.46v0c-8.27.15-13.38-.09-17.46-2.84s-6.36-7.55-8.57-16.3l-13.51-51a7.19,7.19,0,0,0-3-4.49,10.8,10.8,0,0,0-5.51-1.3H3.93ZM96,88.34a9.6,9.6,0,1,1-9.6,9.6,9.6,9.6,0,0,1,9.6-9.6Zm-42.1,0a9.6,9.6,0,1,1-9.6,9.6,9.6,9.6,0,0,1,9.6-9.6ZM78,23.67V38h32.45l3.53-14.28Zm0,22.14V57.22h27.69l2.82-11.41ZM70.11,57.22V45.81H39.63q1.57,5.7,3,11.41Zm0-19.27V23.67H33.54c1.26,4.76,2.58,9.52,3.91,14.28Z' fill='%23000000' /%3E%3C/svg%3E");
    --pets-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 122.88 95.78' style='enable-background:new 0 0 122.88 95.78' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill-rule:evenodd;clip-rule:evenodd;%7D%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M85.64,9.03c18.13-19.58,21.19-1.79,34.54,1.95c1.61,0.45,2.81,0.56,2.7,1.32c-1.17,7.67-3.67,9.12-6.46,9.19 c-3.09,0.09-5.6,0.03-7.45,0.91c-2.36,1.12-4.07,2.57-5.32,4.27l-18.96-9.67C85.29,14.76,85.62,12.12,85.64,9.03L85.64,9.03 L85.64,9.03z M101.67,30.37c-4.04,10.76,1.35,26.76-16.71,32.65c-1.09,9.16-1.04,18.33,0.24,27.49l2.19-0.23 c3.95-0.42,3.92,3.17,2.05,5.48H77.76c-0.85-10.98-2.97-23-2.09-33.48c-6.15,1.65-9.86,1.21-16.54-1.34 c-3.24-1.23-16.62-9.23-20.25-5.98c-2.04,1.84,3.41,9.18-10.05,22.21l0.24,12.89l2.28,0c3.45,0,3.26,3.45,2.01,5.7h-6.65 c-4.42,0-3.49,0.47-3.55-4.18l-0.11-10.03l-0.71-6.22c0.01-3.7,2.67-7.64,0.13-16.46c-1.68-5.83-1.54-10.48-5.93-11.12 c-4.07,8.21-7.97,15.73-11.39,24.34c-0.23,0.58-0.55,1.13-0.83,1.7c-3.9,8.98-5.53,2.23-3.35-3.1l1.46-3.56 c1.87-7.53,7.14-21.65,12.11-26.89c18.74-19.77,56.72-1.07,67.91-18.18L101.67,30.37L101.67,30.37L101.67,30.37z' fill='%235e6569' /%3E%3C/g%3E%3C/svg%3E");
    --pets-image-hover: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 122.88 95.78' style='enable-background:new 0 0 122.88 95.78' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill-rule:evenodd;clip-rule:evenodd;%7D%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M85.64,9.03c18.13-19.58,21.19-1.79,34.54,1.95c1.61,0.45,2.81,0.56,2.7,1.32c-1.17,7.67-3.67,9.12-6.46,9.19 c-3.09,0.09-5.6,0.03-7.45,0.91c-2.36,1.12-4.07,2.57-5.32,4.27l-18.96-9.67C85.29,14.76,85.62,12.12,85.64,9.03L85.64,9.03 L85.64,9.03z M101.67,30.37c-4.04,10.76,1.35,26.76-16.71,32.65c-1.09,9.16-1.04,18.33,0.24,27.49l2.19-0.23 c3.95-0.42,3.92,3.17,2.05,5.48H77.76c-0.85-10.98-2.97-23-2.09-33.48c-6.15,1.65-9.86,1.21-16.54-1.34 c-3.24-1.23-16.62-9.23-20.25-5.98c-2.04,1.84,3.41,9.18-10.05,22.21l0.24,12.89l2.28,0c3.45,0,3.26,3.45,2.01,5.7h-6.65 c-4.42,0-3.49,0.47-3.55-4.18l-0.11-10.03l-0.71-6.22c0.01-3.7,2.67-7.64,0.13-16.46c-1.68-5.83-1.54-10.48-5.93-11.12 c-4.07,8.21-7.97,15.73-11.39,24.34c-0.23,0.58-0.55,1.13-0.83,1.7c-3.9,8.98-5.53,2.23-3.35-3.1l1.46-3.56 c1.87-7.53,7.14-21.65,12.11-26.89c18.74-19.77,56.72-1.07,67.91-18.18L101.67,30.37L101.67,30.37L101.67,30.37z' fill='%23000000' /%3E%3C/g%3E%3C/svg%3E");
    --construction-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122.88 110.85'%3E%3Ctitle%3Epaint-roller-bucket%3C/title%3E%3Cpath d='M66.15,45.69a2.29,2.29,0,0,1,1.43,2.12v1.71c0,.1,0,.2,0,.3s0,.21,0,.31V95a2.19,2.19,0,0,1-.17.85,14.74,14.74,0,0,1-3.6,5.88,22.67,22.67,0,0,1-6.38,4.39c-6.6,3.17-15.18,4.75-23.7,4.72s-17-1.65-23.49-4.89a20.64,20.64,0,0,1-5.9-4.22,14.7,14.7,0,0,1-3.52-6.1,2.13,2.13,0,0,1-.09-.71V52.1a2.58,2.58,0,0,1-.08-.26C-1.92,40.76,3.34,32.57,11.91,27.7a41.06,41.06,0,0,1,17-4.91A45.22,45.22,0,0,1,47,25c9.31,3.25,16.82,9.86,18.75,20.21.13.16.26.32.37.47ZM52.17,15H50.3a.57.57,0,0,1-.56-.57V11a.57.57,0,0,1,.56-.57h1.87V7.72a7.65,7.65,0,0,1,.59-2.95A7.54,7.54,0,0,1,54.41,2.3l0,0A7.73,7.73,0,0,1,59.89,0H107a7.73,7.73,0,0,1,7.72,7.72v2.43h.41a7.78,7.78,0,0,1,2.94.58,8,8,0,0,1,2.51,1.68,7.84,7.84,0,0,1,1.68,2.52,7.56,7.56,0,0,1,.59,2.94V32.44a7.6,7.6,0,0,1-.59,2.94,7.69,7.69,0,0,1-1.65,2.48l0,0a7.75,7.75,0,0,1-2.5,1.68,7.65,7.65,0,0,1-3,.59c-6.83,0-13.69.09-20.51,0a29.43,29.43,0,0,0-4.1.11,7.11,7.11,0,0,0-3.33,1.1,3.55,3.55,0,0,0-.63.59,3.33,3.33,0,0,0-.49.73,4.83,4.83,0,0,0-.37,1,7.26,7.26,0,0,0-.19,1.15v15.1h2.14a5.16,5.16,0,0,1,3.65,1.51,5.32,5.32,0,0,1,1.12,1.68,5.17,5.17,0,0,1,.39,2V92.5a5.16,5.16,0,0,1-5.16,5.15h-9a5.17,5.17,0,0,1-2-.39,5.06,5.06,0,0,1-1.64-1.09l0,0a5.33,5.33,0,0,1-1.12-1.67,5.2,5.2,0,0,1-.39-2V65.07a5.14,5.14,0,0,1,1.51-3.65,5.37,5.37,0,0,1,1.68-1.12,5.17,5.17,0,0,1,2-.39H81c0-5-.19-10.36,0-15.31a12.51,12.51,0,0,1,.35-2.12,9.37,9.37,0,0,1,.68-1.82l0,0A8.16,8.16,0,0,1,83.16,39a8.48,8.48,0,0,1,1.39-1.28l0,0c3-2.17,6.73-2.12,10.09-2.06,6.69-.22,13.75,0,20.49,0a3.12,3.12,0,0,0,1.22-.24,3.27,3.27,0,0,0,1.74-1.74,3.12,3.12,0,0,0,.24-1.22V17.87a3.16,3.16,0,0,0-.94-2.26,3.18,3.18,0,0,0-1-.7,3.13,3.13,0,0,0-1.22-.25h-.41v1.8a7.65,7.65,0,0,1-.59,2.95,7.74,7.74,0,0,1-1.68,2.51A7.92,7.92,0,0,1,110,23.6a7.64,7.64,0,0,1-3,.58H59.89A7.67,7.67,0,0,1,54.47,22l0,0a7.79,7.79,0,0,1-1.68-2.51,7.65,7.65,0,0,1-.59-2.95V15ZM107,4.51H59.89a3.22,3.22,0,0,0-1.21.24,3.42,3.42,0,0,0-1,.71,3.18,3.18,0,0,0-.7,1,3.12,3.12,0,0,0-.24,1.22v8.74a3.12,3.12,0,0,0,.24,1.22,3.27,3.27,0,0,0,1.74,1.74,3.12,3.12,0,0,0,1.22.24H107a3.12,3.12,0,0,0,1.22-.24A3.27,3.27,0,0,0,110,17.68a3.13,3.13,0,0,0,.25-1.22V7.71A3.13,3.13,0,0,0,110,6.49a3.27,3.27,0,0,0-1.74-1.74A3.12,3.12,0,0,0,107,4.51ZM34.15,36.33c8.85,0,16.91,1.31,22.8,3.42a33.45,33.45,0,0,1,3.11,1.3c-2.77-5.87-8.1-9.83-14.39-12A41.05,41.05,0,0,0,29.2,27,36.93,36.93,0,0,0,14,31.4c-4.83,2.75-8.38,6.76-9.43,11.91a24.92,24.92,0,0,1,6.83-3.56c5.89-2.12,14-3.42,22.8-3.42ZM63,56.88a23.54,23.54,0,0,1-4,2.18,13,13,0,0,0-.94,1.81C56,66,59.34,75.18,53,77.18a5.17,5.17,0,0,1-6.55-5.24c-.07-8.82-9.19-7.88-9,2a50.52,50.52,0,0,0,.18,6.42c.38,3.88,2.34,11.79-4.37,11.78-2.9,0-5.92-2.5-5.89-6.92l-.57-10.81c-.86-16.13-7.42-4.13-12-4.36-3.26-.17-4.46-5.3-5.48-9.33l-.49-1.92a23.56,23.56,0,0,1-3.51-2V94.67a10.28,10.28,0,0,0,2.37,3.94,16.4,16.4,0,0,0,4.63,3.29c5.89,2.93,13.66,4.39,21.47,4.42s15.77-1.4,21.75-4.27a18.15,18.15,0,0,0,5.09-3.49A10.31,10.31,0,0,0,63,94.67V56.88ZM55.41,44c-5.39-1.94-12.9-3.14-21.26-3.14S18.28,42.09,12.89,44c-4.7,1.69-7.61,3.76-7.61,5.79s2.91,4.1,7.61,5.79c5.39,2,12.9,3.15,21.26,3.15S50,57.56,55.41,55.61c3.17-1.14,5.52-2.44,6.72-3.8a2,2,0,0,1,0-.43,25.69,25.69,0,0,0-.18-3.77A18,18,0,0,0,55.41,44Z' fill='%235e6569' /%3E%3C/svg%3E");
    --construction-image-hover: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122.88 110.85'%3E%3Ctitle%3Epaint-roller-bucket%3C/title%3E%3Cpath d='M66.15,45.69a2.29,2.29,0,0,1,1.43,2.12v1.71c0,.1,0,.2,0,.3s0,.21,0,.31V95a2.19,2.19,0,0,1-.17.85,14.74,14.74,0,0,1-3.6,5.88,22.67,22.67,0,0,1-6.38,4.39c-6.6,3.17-15.18,4.75-23.7,4.72s-17-1.65-23.49-4.89a20.64,20.64,0,0,1-5.9-4.22,14.7,14.7,0,0,1-3.52-6.1,2.13,2.13,0,0,1-.09-.71V52.1a2.58,2.58,0,0,1-.08-.26C-1.92,40.76,3.34,32.57,11.91,27.7a41.06,41.06,0,0,1,17-4.91A45.22,45.22,0,0,1,47,25c9.31,3.25,16.82,9.86,18.75,20.21.13.16.26.32.37.47ZM52.17,15H50.3a.57.57,0,0,1-.56-.57V11a.57.57,0,0,1,.56-.57h1.87V7.72a7.65,7.65,0,0,1,.59-2.95A7.54,7.54,0,0,1,54.41,2.3l0,0A7.73,7.73,0,0,1,59.89,0H107a7.73,7.73,0,0,1,7.72,7.72v2.43h.41a7.78,7.78,0,0,1,2.94.58,8,8,0,0,1,2.51,1.68,7.84,7.84,0,0,1,1.68,2.52,7.56,7.56,0,0,1,.59,2.94V32.44a7.6,7.6,0,0,1-.59,2.94,7.69,7.69,0,0,1-1.65,2.48l0,0a7.75,7.75,0,0,1-2.5,1.68,7.65,7.65,0,0,1-3,.59c-6.83,0-13.69.09-20.51,0a29.43,29.43,0,0,0-4.1.11,7.11,7.11,0,0,0-3.33,1.1,3.55,3.55,0,0,0-.63.59,3.33,3.33,0,0,0-.49.73,4.83,4.83,0,0,0-.37,1,7.26,7.26,0,0,0-.19,1.15v15.1h2.14a5.16,5.16,0,0,1,3.65,1.51,5.32,5.32,0,0,1,1.12,1.68,5.17,5.17,0,0,1,.39,2V92.5a5.16,5.16,0,0,1-5.16,5.15h-9a5.17,5.17,0,0,1-2-.39,5.06,5.06,0,0,1-1.64-1.09l0,0a5.33,5.33,0,0,1-1.12-1.67,5.2,5.2,0,0,1-.39-2V65.07a5.14,5.14,0,0,1,1.51-3.65,5.37,5.37,0,0,1,1.68-1.12,5.17,5.17,0,0,1,2-.39H81c0-5-.19-10.36,0-15.31a12.51,12.51,0,0,1,.35-2.12,9.37,9.37,0,0,1,.68-1.82l0,0A8.16,8.16,0,0,1,83.16,39a8.48,8.48,0,0,1,1.39-1.28l0,0c3-2.17,6.73-2.12,10.09-2.06,6.69-.22,13.75,0,20.49,0a3.12,3.12,0,0,0,1.22-.24,3.27,3.27,0,0,0,1.74-1.74,3.12,3.12,0,0,0,.24-1.22V17.87a3.16,3.16,0,0,0-.94-2.26,3.18,3.18,0,0,0-1-.7,3.13,3.13,0,0,0-1.22-.25h-.41v1.8a7.65,7.65,0,0,1-.59,2.95,7.74,7.74,0,0,1-1.68,2.51A7.92,7.92,0,0,1,110,23.6a7.64,7.64,0,0,1-3,.58H59.89A7.67,7.67,0,0,1,54.47,22l0,0a7.79,7.79,0,0,1-1.68-2.51,7.65,7.65,0,0,1-.59-2.95V15ZM107,4.51H59.89a3.22,3.22,0,0,0-1.21.24,3.42,3.42,0,0,0-1,.71,3.18,3.18,0,0,0-.7,1,3.12,3.12,0,0,0-.24,1.22v8.74a3.12,3.12,0,0,0,.24,1.22,3.27,3.27,0,0,0,1.74,1.74,3.12,3.12,0,0,0,1.22.24H107a3.12,3.12,0,0,0,1.22-.24A3.27,3.27,0,0,0,110,17.68a3.13,3.13,0,0,0,.25-1.22V7.71A3.13,3.13,0,0,0,110,6.49a3.27,3.27,0,0,0-1.74-1.74A3.12,3.12,0,0,0,107,4.51ZM34.15,36.33c8.85,0,16.91,1.31,22.8,3.42a33.45,33.45,0,0,1,3.11,1.3c-2.77-5.87-8.1-9.83-14.39-12A41.05,41.05,0,0,0,29.2,27,36.93,36.93,0,0,0,14,31.4c-4.83,2.75-8.38,6.76-9.43,11.91a24.92,24.92,0,0,1,6.83-3.56c5.89-2.12,14-3.42,22.8-3.42ZM63,56.88a23.54,23.54,0,0,1-4,2.18,13,13,0,0,0-.94,1.81C56,66,59.34,75.18,53,77.18a5.17,5.17,0,0,1-6.55-5.24c-.07-8.82-9.19-7.88-9,2a50.52,50.52,0,0,0,.18,6.42c.38,3.88,2.34,11.79-4.37,11.78-2.9,0-5.92-2.5-5.89-6.92l-.57-10.81c-.86-16.13-7.42-4.13-12-4.36-3.26-.17-4.46-5.3-5.48-9.33l-.49-1.92a23.56,23.56,0,0,1-3.51-2V94.67a10.28,10.28,0,0,0,2.37,3.94,16.4,16.4,0,0,0,4.63,3.29c5.89,2.93,13.66,4.39,21.47,4.42s15.77-1.4,21.75-4.27a18.15,18.15,0,0,0,5.09-3.49A10.31,10.31,0,0,0,63,94.67V56.88ZM55.41,44c-5.39-1.94-12.9-3.14-21.26-3.14S18.28,42.09,12.89,44c-4.7,1.69-7.61,3.76-7.61,5.79s2.91,4.1,7.61,5.79c5.39,2,12.9,3.15,21.26,3.15S50,57.56,55.41,55.61c3.17-1.14,5.52-2.44,6.72-3.8a2,2,0,0,1,0-.43,25.69,25.69,0,0,0-.18-3.77A18,18,0,0,0,55.41,44Z' fill='%23000000' /%3E%3C/svg%3E");
    --toys-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 120.58 122.88' style='enable-background:new 0 0 120.58 122.88' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M72.6,17.95c-0.3-0.4-0.45-0.9-0.44-1.4c-0.34,0.27-0.7,0.52-1.08,0.76c-2.67,1.68-6.32,2.73-10.32,2.73 c-4,0-7.66-1.04-10.32-2.73c-0.58-0.36-1.11-0.76-1.59-1.18v3.1c0,3.63,2.97,5.98,6.78,7.04c1.6,0.45,3.34,0.67,5.08,0.67 c1.74,0,3.48-0.22,5.08-0.67c3.83-1.07,6.83-3.42,6.83-7.01V17.95L72.6,17.95z M60.86,31.62c4,0,7.66,1.04,10.32,2.73 c2.88,1.82,4.66,4.39,4.66,7.29c0,0.37-0.03,0.73-0.08,1.08v8.16c0,5.22-3.98,8.53-9.06,9.94c-1.86,0.52-3.87,0.78-5.89,0.78 c-2.01,0-4.03-0.26-5.89-0.77c-5.06-1.41-9.02-4.72-9.02-9.97v-8.22c0-0.09,0.01-0.17,0.02-0.25c-0.03-0.24-0.04-0.49-0.04-0.74 c0-2.9,1.78-5.48,4.66-7.29C53.21,32.66,56.86,31.62,60.86,31.62L60.86,31.62z M72.71,47.82c-0.46,0.4-0.97,0.77-1.52,1.12 c-2.67,1.68-6.32,2.73-10.32,2.73s-7.66-1.04-10.32-2.73c-0.58-0.36-1.11-0.76-1.59-1.18v3.1c0,3.63,2.97,5.98,6.78,7.04 c1.6,0.45,3.34,0.67,5.08,0.67c1.74,0,3.48-0.22,5.08-0.67c3.83-1.07,6.83-3.42,6.83-7.01V47.82L72.71,47.82z M69.57,36.92 c-2.2-1.39-5.28-2.25-8.7-2.25c-3.43,0-6.5,0.86-8.7,2.25c-1.99,1.26-3.23,2.93-3.23,4.72s1.23,3.46,3.23,4.72 c2.2,1.39,5.28,2.25,8.7,2.25c3.43,0,6.5-0.86,8.7-2.25c1.69-1.07,2.83-2.43,3.14-3.92v-0.28c0-0.17,0.03-0.34,0.08-0.5l0-0.03 C72.79,39.85,71.56,38.18,69.57,36.92L69.57,36.92z M30.03,16.71c3.2,0,6.17,0.66,8.6,1.79c0.12-0.12,0.26-0.22,0.41-0.31 l6.28-3.63c0.15-0.09,0.31-0.15,0.47-0.2v-3.35c0-0.09,0.01-0.17,0.02-0.25c-0.03-0.24-0.04-0.49-0.04-0.74 c0-2.9,1.78-5.48,4.66-7.29C53.1,1.04,56.75,0,60.75,0c4,0,7.66,1.04,10.32,2.73c2.88,1.82,4.66,4.39,4.66,7.29 c0,0.37-0.03,0.73-0.08,1.08v3.66l6.84,3.75c0.14,0.08,0.27,0.17,0.39,0.27c2.65-1.63,6.24-2.63,10.17-2.63 c4,0,7.66,1.04,10.32,2.73c2.88,1.82,4.66,4.39,4.66,7.29c0,0.37-0.03,0.73-0.08,1.08v5.26c0.16,0.04,0.32,0.11,0.48,0.19 l10.89,5.97c0.39,0.19,0.73,0.49,0.96,0.89c0.2,0.35,0.3,0.74,0.3,1.12h0.01v45.19c0,0.85-0.48,1.6-1.18,1.98l-57.43,34.7 c-0.34,0.21-0.72,0.31-1.09,0.32c-0.04,0-0.08,0-0.12,0c-0.56,0-1.08-0.21-1.47-0.55L1.1,88.27c-0.73-0.43-1.13-1.21-1.1-2.01 l0.69-44.52c-0.02-0.41,0.07-0.83,0.28-1.22c0.23-0.42,0.58-0.73,0.98-0.92l12.47-7.2c0.2-0.12,0.42-0.2,0.63-0.25v-4.43 c0-0.09,0.01-0.17,0.02-0.25c-0.03-0.24-0.04-0.49-0.04-0.74c0-2.9,1.78-5.48,4.66-7.29C22.37,17.75,26.03,16.71,30.03,16.71 L30.03,16.71z M42.64,21.27c1.5,1.56,2.37,3.43,2.37,5.46c0,0.37-0.03,0.73-0.08,1.08v8.16c0,5.22-3.98,8.53-9.06,9.94 c-1.86,0.52-3.87,0.78-5.89,0.78c-2.01,0-4.03-0.26-5.89-0.77c-4.67-1.3-8.39-4.21-8.95-8.77l-7.69,4.44l53.28,29.85l53.05-30.69 l-6.05-3.32c-0.89,4.06-4.45,6.71-8.85,7.93c-1.86,0.52-3.87,0.78-5.89,0.78s-4.03-0.26-5.89-0.77c-5.06-1.41-9.02-4.72-9.02-9.97 v-8.22c0-0.09,0.01-0.17,0.02-0.25c-0.03-0.24-0.04-0.49-0.04-0.74c0-1.52,0.49-2.96,1.37-4.24l-3.81-2.08 c-0.29,4.88-4.15,8-9.05,9.36c-1.86,0.52-3.87,0.78-5.89,0.78s-4.03-0.26-5.89-0.77c-5-1.39-8.91-4.63-9.01-9.76L42.64,21.27 L42.64,21.27z M41.88,32.9c-0.46,0.4-0.97,0.77-1.52,1.12c-2.67,1.68-6.32,2.73-10.32,2.73c-4,0-7.66-1.04-10.32-2.73 c-0.58-0.36-1.11-0.76-1.59-1.18v3.1c0,3.63,2.97,5.98,6.78,7.04c1.6,0.45,3.34,0.67,5.08,0.67c1.74,0,3.48-0.22,5.08-0.67 c3.83-1.07,6.83-3.42,6.83-7.01V32.9L41.88,32.9z M38.73,22.01c-2.2-1.39-5.28-2.25-8.7-2.25c-3.43,0-6.5,0.86-8.7,2.25 c-1.99,1.26-3.23,2.93-3.23,4.72c0,1.79,1.23,3.46,3.23,4.72c2.2,1.39,5.28,2.25,8.7,2.25c3.43,0,6.5-0.86,8.7-2.25 c1.69-1.07,2.83-2.43,3.14-3.92v-0.28c0-0.17,0.03-0.34,0.08-0.5l0-0.03C41.96,24.94,40.73,23.27,38.73,22.01L38.73,22.01z M104.89,32.34c-0.46,0.4-0.97,0.77-1.52,1.12c-2.67,1.68-6.32,2.73-10.32,2.73c-4,0-7.66-1.04-10.32-2.73 c-0.58-0.36-1.11-0.76-1.59-1.18v3.1c0,3.63,2.97,5.98,6.78,7.04c1.6,0.45,3.34,0.67,5.08,0.67c1.74,0,3.48-0.22,5.08-0.67 c3.83-1.07,6.83-3.42,6.83-7.01V32.34L104.89,32.34z M101.75,21.45c-2.2-1.39-5.28-2.25-8.7-2.25c-3.43,0-6.5,0.86-8.7,2.25 c-1.99,1.26-3.23,2.93-3.23,4.72c0,1.79,1.23,3.46,3.23,4.72c2.2,1.39,5.28,2.25,8.7,2.25c3.43,0,6.5-0.86,8.7-2.25 c1.69-1.07,2.83-2.43,3.14-3.92V26.7c0-0.17,0.03-0.34,0.08-0.5l0-0.03C104.97,24.38,103.74,22.7,101.75,21.45L101.75,21.45z M72.6,10.83v-0.28c0-0.17,0.03-0.34,0.08-0.5l0-0.03c0-1.79-1.23-3.46-3.23-4.72c-2.2-1.39-5.28-2.25-8.7-2.25 c-3.43,0-6.5,0.86-8.7,2.25c-1.99,1.26-3.23,2.93-3.23,4.72c0,1.79,1.23,3.46,3.23,4.72c2.2,1.39,5.28,2.25,8.7,2.25 c3.43,0,6.5-0.86,8.7-2.25C71.15,13.68,72.29,12.31,72.6,10.83L72.6,10.83z M62.99,75.29v41.42l53.1-32.09V44.57L62.99,75.29 L62.99,75.29z M58.51,116.7V75.31L5.1,45.4L4.49,85.07L58.51,116.7L58.51,116.7z' fill='%235e6569' /%3E%3C/g%3E%3C/svg%3E");
    --toys-image-hover: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 120.58 122.88' style='enable-background:new 0 0 120.58 122.88' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M72.6,17.95c-0.3-0.4-0.45-0.9-0.44-1.4c-0.34,0.27-0.7,0.52-1.08,0.76c-2.67,1.68-6.32,2.73-10.32,2.73 c-4,0-7.66-1.04-10.32-2.73c-0.58-0.36-1.11-0.76-1.59-1.18v3.1c0,3.63,2.97,5.98,6.78,7.04c1.6,0.45,3.34,0.67,5.08,0.67 c1.74,0,3.48-0.22,5.08-0.67c3.83-1.07,6.83-3.42,6.83-7.01V17.95L72.6,17.95z M60.86,31.62c4,0,7.66,1.04,10.32,2.73 c2.88,1.82,4.66,4.39,4.66,7.29c0,0.37-0.03,0.73-0.08,1.08v8.16c0,5.22-3.98,8.53-9.06,9.94c-1.86,0.52-3.87,0.78-5.89,0.78 c-2.01,0-4.03-0.26-5.89-0.77c-5.06-1.41-9.02-4.72-9.02-9.97v-8.22c0-0.09,0.01-0.17,0.02-0.25c-0.03-0.24-0.04-0.49-0.04-0.74 c0-2.9,1.78-5.48,4.66-7.29C53.21,32.66,56.86,31.62,60.86,31.62L60.86,31.62z M72.71,47.82c-0.46,0.4-0.97,0.77-1.52,1.12 c-2.67,1.68-6.32,2.73-10.32,2.73s-7.66-1.04-10.32-2.73c-0.58-0.36-1.11-0.76-1.59-1.18v3.1c0,3.63,2.97,5.98,6.78,7.04 c1.6,0.45,3.34,0.67,5.08,0.67c1.74,0,3.48-0.22,5.08-0.67c3.83-1.07,6.83-3.42,6.83-7.01V47.82L72.71,47.82z M69.57,36.92 c-2.2-1.39-5.28-2.25-8.7-2.25c-3.43,0-6.5,0.86-8.7,2.25c-1.99,1.26-3.23,2.93-3.23,4.72s1.23,3.46,3.23,4.72 c2.2,1.39,5.28,2.25,8.7,2.25c3.43,0,6.5-0.86,8.7-2.25c1.69-1.07,2.83-2.43,3.14-3.92v-0.28c0-0.17,0.03-0.34,0.08-0.5l0-0.03 C72.79,39.85,71.56,38.18,69.57,36.92L69.57,36.92z M30.03,16.71c3.2,0,6.17,0.66,8.6,1.79c0.12-0.12,0.26-0.22,0.41-0.31 l6.28-3.63c0.15-0.09,0.31-0.15,0.47-0.2v-3.35c0-0.09,0.01-0.17,0.02-0.25c-0.03-0.24-0.04-0.49-0.04-0.74 c0-2.9,1.78-5.48,4.66-7.29C53.1,1.04,56.75,0,60.75,0c4,0,7.66,1.04,10.32,2.73c2.88,1.82,4.66,4.39,4.66,7.29 c0,0.37-0.03,0.73-0.08,1.08v3.66l6.84,3.75c0.14,0.08,0.27,0.17,0.39,0.27c2.65-1.63,6.24-2.63,10.17-2.63 c4,0,7.66,1.04,10.32,2.73c2.88,1.82,4.66,4.39,4.66,7.29c0,0.37-0.03,0.73-0.08,1.08v5.26c0.16,0.04,0.32,0.11,0.48,0.19 l10.89,5.97c0.39,0.19,0.73,0.49,0.96,0.89c0.2,0.35,0.3,0.74,0.3,1.12h0.01v45.19c0,0.85-0.48,1.6-1.18,1.98l-57.43,34.7 c-0.34,0.21-0.72,0.31-1.09,0.32c-0.04,0-0.08,0-0.12,0c-0.56,0-1.08-0.21-1.47-0.55L1.1,88.27c-0.73-0.43-1.13-1.21-1.1-2.01 l0.69-44.52c-0.02-0.41,0.07-0.83,0.28-1.22c0.23-0.42,0.58-0.73,0.98-0.92l12.47-7.2c0.2-0.12,0.42-0.2,0.63-0.25v-4.43 c0-0.09,0.01-0.17,0.02-0.25c-0.03-0.24-0.04-0.49-0.04-0.74c0-2.9,1.78-5.48,4.66-7.29C22.37,17.75,26.03,16.71,30.03,16.71 L30.03,16.71z M42.64,21.27c1.5,1.56,2.37,3.43,2.37,5.46c0,0.37-0.03,0.73-0.08,1.08v8.16c0,5.22-3.98,8.53-9.06,9.94 c-1.86,0.52-3.87,0.78-5.89,0.78c-2.01,0-4.03-0.26-5.89-0.77c-4.67-1.3-8.39-4.21-8.95-8.77l-7.69,4.44l53.28,29.85l53.05-30.69 l-6.05-3.32c-0.89,4.06-4.45,6.71-8.85,7.93c-1.86,0.52-3.87,0.78-5.89,0.78s-4.03-0.26-5.89-0.77c-5.06-1.41-9.02-4.72-9.02-9.97 v-8.22c0-0.09,0.01-0.17,0.02-0.25c-0.03-0.24-0.04-0.49-0.04-0.74c0-1.52,0.49-2.96,1.37-4.24l-3.81-2.08 c-0.29,4.88-4.15,8-9.05,9.36c-1.86,0.52-3.87,0.78-5.89,0.78s-4.03-0.26-5.89-0.77c-5-1.39-8.91-4.63-9.01-9.76L42.64,21.27 L42.64,21.27z M41.88,32.9c-0.46,0.4-0.97,0.77-1.52,1.12c-2.67,1.68-6.32,2.73-10.32,2.73c-4,0-7.66-1.04-10.32-2.73 c-0.58-0.36-1.11-0.76-1.59-1.18v3.1c0,3.63,2.97,5.98,6.78,7.04c1.6,0.45,3.34,0.67,5.08,0.67c1.74,0,3.48-0.22,5.08-0.67 c3.83-1.07,6.83-3.42,6.83-7.01V32.9L41.88,32.9z M38.73,22.01c-2.2-1.39-5.28-2.25-8.7-2.25c-3.43,0-6.5,0.86-8.7,2.25 c-1.99,1.26-3.23,2.93-3.23,4.72c0,1.79,1.23,3.46,3.23,4.72c2.2,1.39,5.28,2.25,8.7,2.25c3.43,0,6.5-0.86,8.7-2.25 c1.69-1.07,2.83-2.43,3.14-3.92v-0.28c0-0.17,0.03-0.34,0.08-0.5l0-0.03C41.96,24.94,40.73,23.27,38.73,22.01L38.73,22.01z M104.89,32.34c-0.46,0.4-0.97,0.77-1.52,1.12c-2.67,1.68-6.32,2.73-10.32,2.73c-4,0-7.66-1.04-10.32-2.73 c-0.58-0.36-1.11-0.76-1.59-1.18v3.1c0,3.63,2.97,5.98,6.78,7.04c1.6,0.45,3.34,0.67,5.08,0.67c1.74,0,3.48-0.22,5.08-0.67 c3.83-1.07,6.83-3.42,6.83-7.01V32.34L104.89,32.34z M101.75,21.45c-2.2-1.39-5.28-2.25-8.7-2.25c-3.43,0-6.5,0.86-8.7,2.25 c-1.99,1.26-3.23,2.93-3.23,4.72c0,1.79,1.23,3.46,3.23,4.72c2.2,1.39,5.28,2.25,8.7,2.25c3.43,0,6.5-0.86,8.7-2.25 c1.69-1.07,2.83-2.43,3.14-3.92V26.7c0-0.17,0.03-0.34,0.08-0.5l0-0.03C104.97,24.38,103.74,22.7,101.75,21.45L101.75,21.45z M72.6,10.83v-0.28c0-0.17,0.03-0.34,0.08-0.5l0-0.03c0-1.79-1.23-3.46-3.23-4.72c-2.2-1.39-5.28-2.25-8.7-2.25 c-3.43,0-6.5,0.86-8.7,2.25c-1.99,1.26-3.23,2.93-3.23,4.72c0,1.79,1.23,3.46,3.23,4.72c2.2,1.39,5.28,2.25,8.7,2.25 c3.43,0,6.5-0.86,8.7-2.25C71.15,13.68,72.29,12.31,72.6,10.83L72.6,10.83z M62.99,75.29v41.42l53.1-32.09V44.57L62.99,75.29 L62.99,75.29z M58.51,116.7V75.31L5.1,45.4L4.49,85.07L58.51,116.7L58.51,116.7z' fill='%23000000' /%3E%3C/g%3E%3C/svg%3E");
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #F6F6F6;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-header {
    width: 100%;
    height: 80px;
    background-color: #ecc502;
    box-shadow: 0px 2px 20px -14px #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.th-content h1 {
    color: #000;
    font-weight: 600;
    font-size: 1.8rem;
}

.middle-header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 0.9rem;
    color: #5e6569;
}

.logo img {
    width: 48px;
}

.logo:hover {
    cursor: pointer;
}

.middle-header button {
    border-radius: 50px;
    width: 135px;
    height: 40px;
    margin-left: 20px;
    border: 1px solid #5e6569;
    font-size: .9rem;
    font-weight: bold;
    cursor: pointer;
}

.singIn {
    background-color: #000;
    color: #FFF;
}

.singIn:hover {
    background-color: #eec809;
    color: #000;
}

.logIn:hover {
    color: #eec809;
    border-color: #eec809;
}

.bottom-header {
    width: 100%;
    height: 250px;
    background-color: #ecc502;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search input {
    width: 400px;
    height: 60px;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    outline-color: #ecc502;
}

.search .where {
    margin-left: 10px;
}

.search-button {
    width: 60px;
    height: 60px;
    border: none;
    background-color: #FFF;
    border-radius: 8px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='122.879px' height='119.799px' viewBox='0 0 122.879 119.799' enable-background='new 0 0 122.879 119.799' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M49.988,0h0.016v0.007C63.803,0.011,76.298,5.608,85.34,14.652c9.027,9.031,14.619,21.515,14.628,35.303h0.007v0.033v0.04 h-0.007c-0.005,5.557-0.917,10.905-2.594,15.892c-0.281,0.837-0.575,1.641-0.877,2.409v0.007c-1.446,3.66-3.315,7.12-5.547,10.307 l29.082,26.139l0.018,0.016l0.157,0.146l0.011,0.011c1.642,1.563,2.536,3.656,2.649,5.78c0.11,2.1-0.543,4.248-1.979,5.971 l-0.011,0.016l-0.175,0.203l-0.035,0.035l-0.146,0.16l-0.016,0.021c-1.565,1.642-3.654,2.534-5.78,2.646 c-2.097,0.111-4.247-0.54-5.971-1.978l-0.015-0.011l-0.204-0.175l-0.029-0.024L78.761,90.865c-0.88,0.62-1.778,1.209-2.687,1.765 c-1.233,0.755-2.51,1.466-3.813,2.115c-6.699,3.342-14.269,5.222-22.272,5.222v0.007h-0.016v-0.007 c-13.799-0.004-26.296-5.601-35.338-14.645C5.605,76.291,0.016,63.805,0.007,50.021H0v-0.033v-0.016h0.007 c0.004-13.799,5.601-26.296,14.645-35.338C23.683,5.608,36.167,0.016,49.955,0.007V0H49.988L49.988,0z M50.004,11.21v0.007h-0.016 h-0.033V11.21c-10.686,0.007-20.372,4.35-27.384,11.359C15.56,29.578,11.213,39.274,11.21,49.973h0.007v0.016v0.033H11.21 c0.007,10.686,4.347,20.367,11.359,27.381c7.009,7.012,16.705,11.359,27.403,11.361v-0.007h0.016h0.033v0.007 c10.686-0.007,20.368-4.348,27.382-11.359c7.011-7.009,11.358-16.702,11.36-27.4h-0.006v-0.016v-0.033h0.006 c-0.006-10.686-4.35-20.372-11.358-27.384C70.396,15.56,60.703,11.213,50.004,11.21L50.004,11.21z' fill='%23ecc502' /%3E%3C/g%3E%3C/svg%3E");
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.search-button:hover {
    cursor: pointer;
    border: 1px solid #fff;
    background-color: #eec809;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='122.879px' height='119.799px' viewBox='0 0 122.879 119.799' enable-background='new 0 0 122.879 119.799' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M49.988,0h0.016v0.007C63.803,0.011,76.298,5.608,85.34,14.652c9.027,9.031,14.619,21.515,14.628,35.303h0.007v0.033v0.04 h-0.007c-0.005,5.557-0.917,10.905-2.594,15.892c-0.281,0.837-0.575,1.641-0.877,2.409v0.007c-1.446,3.66-3.315,7.12-5.547,10.307 l29.082,26.139l0.018,0.016l0.157,0.146l0.011,0.011c1.642,1.563,2.536,3.656,2.649,5.78c0.11,2.1-0.543,4.248-1.979,5.971 l-0.011,0.016l-0.175,0.203l-0.035,0.035l-0.146,0.16l-0.016,0.021c-1.565,1.642-3.654,2.534-5.78,2.646 c-2.097,0.111-4.247-0.54-5.971-1.978l-0.015-0.011l-0.204-0.175l-0.029-0.024L78.761,90.865c-0.88,0.62-1.778,1.209-2.687,1.765 c-1.233,0.755-2.51,1.466-3.813,2.115c-6.699,3.342-14.269,5.222-22.272,5.222v0.007h-0.016v-0.007 c-13.799-0.004-26.296-5.601-35.338-14.645C5.605,76.291,0.016,63.805,0.007,50.021H0v-0.033v-0.016h0.007 c0.004-13.799,5.601-26.296,14.645-35.338C23.683,5.608,36.167,0.016,49.955,0.007V0H49.988L49.988,0z M50.004,11.21v0.007h-0.016 h-0.033V11.21c-10.686,0.007-20.372,4.35-27.384,11.359C15.56,29.578,11.213,39.274,11.21,49.973h0.007v0.016v0.033H11.21 c0.007,10.686,4.347,20.367,11.359,27.381c7.009,7.012,16.705,11.359,27.403,11.361v-0.007h0.016h0.033v0.007 c10.686-0.007,20.368-4.348,27.382-11.359c7.011-7.009,11.358-16.702,11.36-27.4h-0.006v-0.016v-0.033h0.006 c-0.006-10.686-4.35-20.372-11.358-27.384C70.396,15.56,60.703,11.213,50.004,11.21L50.004,11.21z' fill='%23ffffff' /%3E%3C/g%3E%3C/svg%3E");
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.categories ul {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.categories li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categories span {
    cursor: pointer;
    margin-bottom: 10px;
}

.categories label {
    font-size: 0.8rem;
    color: #5e6569;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.categories span:hover~label {
    cursor: pointer;
    color: #000;
}

.all {
    width: 58px;
    height: 58px;
    background-color: #FFF;
    border-radius: 100%;
    background-image: var(--all-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

.all:hover {
    background-image: var(--all-image-hover);
}

.food {
    width: 58px;
    height: 58px;
    background-color: #FFF;
    border-radius: 100%;
    background-image: var(--food-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

.food:hover {
    background-image: var(--food-image-hover);
}

.clothes {
    width: 58px;
    height: 58px;
    background-color: #FFF;
    border-radius: 100%;
    background-image: var(--clothes-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

.clothes:hover {
    background-image: var(--clothes-image-hover);
}

.auto-parts {
    width: 58px;
    height: 58px;
    background-color: #FFF;
    border-radius: 100%;
    background-image: var(--autoParts-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

.auto-parts:hover {
    background-image: var(--autoParts-image-hover);
}

.drink {
    width: 58px;
    height: 58px;
    background-color: #FFF;
    border-radius: 100%;
    background-image: var(--drink-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

.drink:hover {
    background-image: var(--drink-image-hover);
}

.supermarket {
    width: 58px;
    height: 58px;
    background-color: #FFF;
    border-radius: 100%;
    background-image: var(--supermarket-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

.supermarket:hover {
    background-image: var(--supermarket-image-hover);
}

.pets {
    width: 58px;
    height: 58px;
    background-color: #FFF;
    border-radius: 100%;
    background-image: var(--pets-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

.pets:hover {
    background-image: var(--pets-image-hover);
}

.construction {
    width: 58px;
    height: 58px;
    background-color: #FFF;
    border-radius: 100%;
    background-image: var(--construction-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

.construction:hover {
    background-image: var(--construction-image-hover);
}

.toys {
    width: 58px;
    height: 58px;
    background-color: #FFF;
    border-radius: 100%;
    background-image: var(--toys-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

.toys:hover {
    background-image: var(--toys-image-hover);
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    height: auto;
    gap: 20px;
    padding: 50px;
    background-color: #FFF;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #5e6569;
    border-radius: 16px 0 16px 0;
    padding: 10px;
    width: 300px;
    height: auto;
    background-color: #F6F6F6;
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 16px 0 16px 0;
}

.card:hover {
    cursor: pointer;
    background-color: #ecc502;
    transform: scale(1.1);
    box-shadow: 0px 0px 68px -4px rgba(0,0,0,0.61);
}

#contentClientPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    height: auto;
    gap: 20px;
    padding: 50px;
    background-color: #FFF;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.clientPics {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.clientPics img {
    width: 300px;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.right .tags {
    width: 80%;
}

.right .tags ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    white-space: pre-wrap;
    gap: 10px;
    flex-wrap: wrap;
}

.right .tags li {
    background-color: #ecc502;
    padding: 5px;
    border-radius: 24px;
    cursor: default;
}

.right .tags li:hover {
    background-color: #000000;
    color: #FFF;
    transform: scale(1.1);
}

footer {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    border-top: 1px solid #5e6569;
}

.footer ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
}

.footer a {
    color: #5e6569;
}

.footer a:hover {
    text-decoration: underline;
}

.footer li img {
    width: 24px;
    height: 24px;
}

.footer li img:hover {
    transform: scale(1.3);
}